{% extends 'layouts/base.html' %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a> |
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<div class="container mt-20">
  <div class="starter-template">
    <blockquote class="blockquote mt-20px ml-4 ">
      <h2 class="text-dark">QUIZZES</h2>
    </blockquote>
    <div class="card">
      <div class="post-entry">

        <div class="card-body">
          {% for quiz in object_list %}
          <ul class="list-unstyled">
            <li> <a href="{% url 'questions' quiz.pk %}">{{ quiz.title}}</a></li>
            

          </ul>
          {% endfor %}

        </div>
        
      </div>
    </div>



  </div>
</div>



{% endblock content %}