{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-50 pt-6 ml-4 col-md-6">
  <center>
    <h4>{{ object.title }}</h4>
  </center>

  <div class="card bg-dark text-white">

    <h2>{{object.category}}</h2>
    <img src="{{object.image}}" class="card-img" alt="">
    <div class="card-img-overlay">

      <h5 class="card-title"></h5>
      <p class="card-text"></p>
      <br>
      <br>

      {% with first_question=object.question_set.first %}
      <center><a href={% url 'question_detail' quiz_id=object.id pk=first_question.id %}><button type="button"
            class="btn btn-success btn-lg">
            Start This Quizkkkkkkkkkkkk</button></a></center>
      {% endwith %}
      <br><br><br>
      <br>

      <p class="card-text ">You have 30 seconds to answer each question. The faster you answer, the higher your score.
        When you are done, try again to beat your best score!</p>
    </div>
  </div>
</div>





</div>






{% endblock content %}
