<!--p>
{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-50 pt-6 ml-4 col-md-6">
  
    <!--div class="post-entry ">
        <h2>{{ object.title }}</h2>
        <p>{{ object.category }}</p>
        <div class="card mt-2" style="width:50%; height:40%">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuSsFsMTNHn76RHwVM8cpqHQdVjP8P98m1EQ&usqp=CAU" alt="Card image cap">
            <div ><a href="#" class="btn btn-success" >StartThis Quiz</a></div-->
            <!--div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div-->
        
          
          <!--div class="card" style="width: 70%; height: 60%;margin-top: -50px;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuSsFsMTNHn76RHwVM8cpqHQdVjP8P98m1EQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div-->
          <!--link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
 
<div><h2>{{quiz.title}}
</h2></div>

<!--img class="card-img" src="{{quiz.image}}" alt="Card image"-->

        
      <!--h4 class="card-title"></h4>
      <!--label for="fname">answer</label>
      <h4>{{question.question_text}}</h4-->
      
      <!--div class="card bg-dark text-white">
        <img class="card-img" src="{{quiz.image}}" alt="Card image"/>
        <div class="card-img-overlay">
          {% for question in object.question_set.all  %}
           
          <h3 class="card-title">{{ question.question_text }}</h3><br>
          <br>
          <div><center><a href ="{% url 'quiz_start' quiz.pk %}"><button type="button" class="btn btn-success btn-lg">Start This Quiz</a></button></center></div>
          <p class="card-text">.</p>
                  </div>
                  <p class="card-text">You have 30 seconds to answer each question. The faster you answer, the higher your score. When you are done, try again to beat your best score!</p>

                  
      </div>
      
     

      {% endfor %}
    </div>
  </div>
</div>

          

    </div>
    </div>
  
{% endblock content %}
  </p-->





--------------------------------------------------------------------------------------
 <!--div>
    {% for question in object.question_set.all  %}
    <br><br>
    <h5 class="card-title">{{ question.question_text}}</h5>
    <div><center><a href ="{% url 'quiz_start' choice.pk %}"><button type="button" class="btn btn-success btn-lg">Start This Quiz</button></a></center></div>
    <br><br>
    <h1>dkjhgckjhckjd</h1>
      <br>
    <p class="card-text">You have 30 seconds to answer each question. The faster you answer, the higher your score. When you are done, try again to beat your best score!</p>
  </p>

    
    {% endfor %}
    </div-->
  </div>