{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-50 pt-6 ml-4">
    <!--div class="post-entry ">
        <h2>{{ object.title }}</h2>
        <p>{{ object.category }}</p>
        <div class="card mt-2" style="width:50%; height:40%">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuSsFsMTNHn76RHwVM8cpqHQdVjP8P98m1EQ&usqp=CAU" alt="Card image cap">
            <div ><a href="#" class="btn btn-success" >StartThis Quiz</a></div-->
            <!--div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div-->
            -----------------
          
          <!--div class="card" style="width: 70%; height: 60%;margin-top: -50px;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuSsFsMTNHn76RHwVM8cpqHQdVjP8P98m1EQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div-->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
  <div class="card">
    <div class="card-header text-white" style="background-color: #07070700;">{{question}}
      Featured
    </div>
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

          

    </div>
    </div>
{% endblock content %}